/* GLOBAL */

.header-background {
  height: 100%;
}

.dark-background-overlay:before {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  z-index: 0;
}

.section {
  padding-bottom: 6rem;
  padding-top: 6rem;
}

.section h2 {
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 0 !important;
}

.section .header-separator {
  height: 4px;
  border-radius: 2px;
  background: #242424;
  width: 80px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.section .section-background {
  position: relative;
}

.section .section-background .img-section-bg {
  height: 5em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: -17px;
  z-index: -1;
  opacity: 0.8;
  filter: alpha(opacity=80);
  /* For IE8 and earlier */
}

.section .section-background h2 {
  z-index: 2;
  text-shadow: 1px 1px 1px #131313;
}

.light-background {
  background: #f8f8f8;
}

.light-background h2 {
  background: -webkit-gradient(linear, left top, left bottom, from(#5e5e5e), to(#1b1a1a));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-center {
  text-align: center;
}

/* HEADER */

#header .logo-img {
  position: relative;
  z-index: 2;
  width: 14em;
}

#header .title {
  position: relative;
  color: white;
  max-width: 454px;
}

#header .title p {
  margin-bottom: 0px;
}

#header .title h2 {
  font-weight: 900;
}

#header .button-actions a {
  margin-top: 1rem;
}

#header .button-actions a:not(:first-child) {
  margin-left: 1rem;
}

@media only screen and (max-width: 768px) {
  #header .media {
    display: block;
    text-align: center;
  }
  #header .title h2 {
    font-size: 1.5rem;
  }
}